<main>
  <article id="about-container">
    <h1> <%= image_tag "rubyIcon.png", alt: "Ruby Pointer", id: "ruby-pointer" %> Who I am</h1>
    <p>
       The web has opened limitless possibilities and its up to me to discover them. My favorite languages to develop in are <strong>Ruby</strong> and <strong>Javascript</strong>. Keeping users interested as they browse is a main focus when I develop. I've worked with many small businesses and freelancers to create the app (or pages) they really deserve, and I can do that for you too.
    </p>
  </article>
</main>
