@import 'variables';

@media (max-width: $bp-tablet - 1) {
  .parallax {
    height: 100vh ;
    width: 100vw;

    background-image: url(web_dev_stock_1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #parallax-photo {
    width: 100vw;
    height: 100vh;
  }
}
