<nav class="navbar" id="myTopnav">
  <%=link_to "About", "#", class: "link" %>
  <%=link_to "Projects", "#", class: "link" %>
  <%=link_to "Resume", "#", class: "link" %>
  <%=link_to "javascript:void(0);", class: "icon", onclick: "myFunction()" do %>
    <i class= "fas fa-bars"></i>
  <% end %>
</nav>
