<nav class="navbar">
  <ul class="nav-container">
    <li class="nav-link"> <%=link_to "Contacts", "#", class: "link" %></li>
    <li class="nav-link"><%=link_to "Projects", "#", class: "link" %></li>
    <li class="nav-link"><%=link_to "Resume", "#", class: "link" %></li>
  </ul>
</nav>
