<span class="intro">
  <div class="intro-container">
    <div class="intro-margin">
      <h2 class="intro-text">
        Oh hi, I'm
        <span id="f-name"> Mark</span>
        a
      </h2>
      <h1 class="head-title"><strong>Web</strong> <span>Developer</span></h1>
    </div>
  </div>
  <button type="button" name="button" class="cta">
    <span>My Projects</span>
  </button>
</span>
<div class="parallax">
  <div id="parallax-photo">

  </div>
</div>
